body{
    text-align: center;
}

.btn{
    height: 200px;
    width: 200px;
    border-radius:20%;
    border: 10px solid black;
    margin: 1.5rem;
}

.btn-container{
    display: flex;
    justify-content: center;
} 

.green{
    background-color: green;
}

.yellow{
    background-color: yellow;
}

.red{
    background-color: red;
}

.purple{
    background-color: blue;
}

.flash{
    background-color: white;
}

.userflash{
    background-color:black ;
}